// Code sample taken from w3schools
#barsContainer {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2 {
    // width: 35px;
    width: 25px;
    height: 3px;
    background-color: var(--color-white);
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 2px) rotate(-45deg);
}

.change .bar2 {
    transform: translate(0, -6px) rotate(45deg);
}