.social a i {
    width: 32px;
    height: 32px;
    padding: 11.5px 7.5px;
    font-size: 1.6rem;
    border-radius: 50%;
    line-height: 10px;
}

.social a i {
    color: var(--color-white);
    background-color: var(--color-terracotta);
}

.social a:hover>i {
    background-color: var(--color-green);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

//  required to get rid of blue default color
.social a {
    text-decoration: none;

}