.table-btn__borderless td {
    border-style: none;
}

.day {
    padding-right: 1rem !important;
    text-align: end;
}

.time {
    padding-left: 2rem !important;
    text-align: start !important;
}

.td {
    text-align: end;
}

.th {
    text-align: start;
}

.th .url-link-terracotta {
    font-weight: normal!important;
    // text-decoration: none!important;
}

.th .url-link-terracotta:hover {
    font-weight: bold!important;
}