// COLORS VARIABLES
:root {
    --color-red: #DF1219;
    --color-blue: #0F699D;
    --color-black: #171818;
    --color-green: #095306; 
    --color-yellow: #F0B80F;
    --color-white: #fff;

}

// Basic site styling

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
}

body {
    color: var(--color-black);
    background-color: var(--color-white);
    min-height: 100vh;
}
.container {
    padding: 0 3rem;
}
// Ensure paragraphs fill the column form end to end
p {
    text-align: justify;
}