.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 4rem;
    min-height: 33rem;
    font-size: calc(var(--font-xxs) + .4vw);

    &__link a {
        color: var(--color-white);
        text-decoration: none;
    }
    &__link a:hover {
        color: var(--color-red);
        text-decoration: none;
    }

    &__logo {}

    &__social a i {
        // width: 32px;
        // height: 32px;
        // padding: 1.2rem 0;
        // font-size: 1.5rem;
        // border-radius: 50%;
        // line-height: 10px;
        // text-align: center;
        // color: var(--color-white);
        // background-color: var(--color-black);
        color: var(--color-black)!important;
        background-color: var(--color-white)!important;
    }



    &__contacts {}

    &__address {}

    &__terms {}

    &__copy {}
}