.footer {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 4rem;
    min-height: 33rem;
    font-size: calc(var(--font-xxs) + .4vw);

    &__link a {
        color: var(--color-white);
        text-decoration: none;
    }

    &__link a:hover {
        color: var(--color-terracotta);
        text-decoration: none;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }

    &__social a i {
        color: var(--color-green) !important;
        background-color: var(--color-white) !important;
    }

    &__social a:hover>i {
        background-color: var(--color-terracotta) !important;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
}