.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 4rem;
    min-height: 33rem;
    font-size: calc(var(--font-xxs) + .4vw);

    &__link a {
        color: var(--color-white);
    }

    &__logo {}

    &__social a i {
        color: var(--color-white);
    }



    &__contacts {}

    &__address {}

    &__terms {}

    &__copy {}
}