header {
    background-color: var(--color-terracotta);
}

#logo {

    &__img {
        width: 90%;
        height: 300px;
        object-fit: cover;
    }
}

@media (max-width: 500px) {
    #logo__img {
        width: 100%;
    }
}

@media (min-width: 755px) {
    #logo__img {
        width: 50%;
        height: 450px;
    }
}

@media (min-width: 1200px) {
    #logo__img {
        width: 45%;
    }
}

@media (min-width: 1400px) {
    #logo__img {
        width: 45%;
    }
}