/* header - site navigation */
.navbar #navigation {
    margin-right: -15px;
    margin-left: -15px;
}

.nav-link-header {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation,
#navigation .nav-link-header,
.dropdown-menu-header,
.dropdown-menu-header li a {
    color: var(--color-white);
    background-color: var(--color-terracotta);
}

.nav-link-header,
.dropdown-menu-header li a {
    font-size: 1.2rem;
    font-family: var(--font-text);
    letter-spacing: 0.1vw;
    border: 1px var(--color-terracotta) solid;
    align-items: end;
}

.nav-link-header:focus,
.nav-link-header:hover,
.dropdown-menu-header li a:focus,
.dropdown-menu-header li a:hover {
    text-decoration: none;
    border: 1px var(--color-white) solid;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.nav-item:hover {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
}

.fa-grip-lines {
    color: var(--color-green);
    font-size: 2.5rem;
}