/* header - site navigation */
.navbar #navigation {
    margin-right: -15px;
    margin-left: -15px;
}

.nav-link-header, .dropdown-item {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation,
#navigation .nav-link-header,
.dropdown-menu-header,
.dropdown-menu-header li a {
    color: var(--color-white);
    background-color: var(--color-terracotta);
}
  
// applies just for the drop down in the nav menu - services
.dropdown-menu, .dropdown-item {    
    color: var(--color-terracotta);
    background-color: var(--color-white);
}

.dropdown-item,
.nav-link-header,
.dropdown-menu-header li a {
    font-size: 1.2rem;
    font-family: var(--font-text);
    letter-spacing: 0.1vw;
    align-items: end;
}

.nav-link-header,
.dropdown-menu-header li a {
    border: 1px var(--color-terracotta) solid;
}

// applies just for the drop down in the nav menu - services
.dropdown-item:hover {
    color: var(--color-white);
    background-color: var(--color-terracotta);
}

.nav-link-header:focus,
.nav-link-header:hover,
.dropdown-menu-header li a:focus,
.dropdown-menu-header li a:hover {
    text-decoration: none;
    border: 1px var(--color-white) solid;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.nav-item:hover {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
}

.fa-grip-lines {
    color: var(--color-green);
    font-size: 2.5rem;
}

// arrow in the drop down menu: 
.dropstart .dropdown-toggle::before{
    border-top: .5em solid transparent;
    border-right: .5em solid;
    border-bottom: .5em solid transparent;
    vertical-align: 0;
}


