.careers__body {
    color: var(--color-white)!important;
    // padding-top: 15rem;
}

.careers__btn {
    border-color: var(--color-white)!important;
    color: var(--color-green)!important;
}

.careers__btn span {
    color: var(--color-white)!important;   
}