#findus,
#ourservices {
    background-color: var(--color-terracotta);
    color: var(--color-white);
}

#findus {
    padding: 5rem 0;
}

#ourservices {
    padding: 5rem 10rem;
}

@media (max-width: 768px) {
    #ourservices {
        padding: 3rem;
    }
}