#findus,
#ourservices,
.terracotta-background {
    background-color: var(--color-terracotta);
    color: var(--color-white);
}

#findus {
    padding: 5rem 0;
}

#ourservices,
#welcomeintro,
#whoweare {
    padding: 5rem 10rem;
}

@media (max-width: 768px) {

    #ourservices,
    #welcomeintro,
    #whoweare {
        padding: 3rem;
    }
}

#customNotification {
    position: absolute;
    z-index: 1090;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    transition: all 0.3s ease;
    -webkit-transform: translate(-50% -50%);
    -moz-transform: translate(-50% -50%);
    -ms-transform: translate(-50% -50%);
    -o-transform: translate(-50% -50%);
}