.breadcrumb-item a {
    color: var(--color-terracotta);
}
.breadcrumb-item a:hover {
    font-weight: bold;
}

.breadcrumb-item.active, 
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--color-green);
}
.team__member_link,
.team__member_link:active,
.team__member_link::before {
    color: var(--color-green);
    text-decoration: none;
}
.team__member_link h3 {
    text-decoration: underline;
}

.team__member_link h3:hover {
    color: var(--color-terracotta);
    font-weight: bold;
}
.team__col {
    padding: 0;
}
.team__col a:hover {
    color: var(--color-green);
}
.team__img {
    width: 300px;
    height: auto;
    padding: 1rem 0;
    margin: 3rem 0rem;
}

@media (min-width: 768px) {
    .team__img {
        width: 200px;
    }
 }

 @media (min-width: 992px) and (max-width: 1023px) { 
    .team__img {
        width: 350px;
    }
  }

  @media (min-width: 1200px) { 
    .team__img {
        width: 400px;
    }
   }