.team__member_link {
    color: var(--color-black);
    text-decoration: none;
}

.team__member_link:hover {
    color: var(--color-black);
}
.team__col {
    padding: 0;
}
.team__img {
    width: 300px;
    height: auto;
    padding: 1rem 0;
    margin: 3rem 0rem;
}

@media (min-width: 768px) {
    .team__img {
        width: 200px;
    }
 }

 @media (min-width: 992px) and (max-width: 1023px) { 
    .team__img {
        width: 350px;
    }
  }

  @media (min-width: 1200px) { 
    .team__img {
        width: 400px;
    }
   }